/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/
:root.theme-light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --nofocus-bgd-image: url(../images/cover-image-light.png);
  --nofocus-color-bgd-fallback: #f5f5f5;
  --nofocus-color-recsymbol: transparent;
  --nofocus-color-decoration: #353430;
  --nofocus-color-button: #353430;
  --nofocus-color-buttonhover: #32312d66;
  --nofocus-color-hero: #ffc2e6;
  --nofocus-color-hero-shadow: #ff8dcb;
  --nofocus-color-accent: #ff8dcb;
  --nofocus-color-text-heading: #353430;
  --nofocus-color-text-subheading: #353430;
  --nofocus-color-text: #353430;
  --nofocus-color-title-accent: #353430;
  --nofocus-color-background: #ffc2e6;
}
@media (prefers-color-scheme: light) {
  :root {
  --nofocus-bgd-image: url(../images/cover-image-light.png);
  --nofocus-color-bgd-fallback: #f5f5f5;
  --nofocus-color-recsymbol: transparent;
  --nofocus-color-decoration: #353430;
  --nofocus-color-button: #353430;
  --nofocus-color-buttonhover: #32312d66;
  --nofocus-color-hero: #ffc2e6;
  --nofocus-color-hero-shadow: #ff8dcb;
  --nofocus-color-accent: #ff8dcb;
  --nofocus-color-text-heading: #353430;
  --nofocus-color-text-subheading: #353430;
  --nofocus-color-text: #353430;
  --nofocus-color-title-accent: #353430;
  --nofocus-color-background: #ffc2e6;

  }
}

.theme-light .page {
  /* Вам также нужно будет написать ряд подобных селекторов */
}
