/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* transition: all 450ms ease-in-out 1ms; */
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  color: var(--nofocus-color-text);
  font-family: var(--nofocus-main-font), sans-serif;
  font-size: var(--nofocus-font-size);
  background-image: var(--nofocus-bgd-image);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  background-attachment: fixed;
  background-color: var(--nofocus-color-bgd-fallback);
}
.title-decor {
  background-color: var(--nofocus-color-accent);
  color: var(--nofocus-color-text-subheading);
  font-weight: 700;
}
.rec-symbol {
  position: absolute;
  margin: 2px 10px 0 0;
  inset-inline-end: 10px;
  inset-block-start: 10px;
  display: flex;
  gap: 10px;
  align-items: center;
  text-transform: uppercase;
  color: var(--nofocus-color-recsymbol);
}
.rec-symbol::after {
  content: "";
  display: block;
  border-radius: 50%;
  box-shadow: 0 0 5px 4px var(--nofocus-color-recsymbol);
  background-color: var(--nofocus-color-recsymbol);
  inline-size: 7px;
  block-size: 7px;
}
.decorated-zone {
  position: relative;
  block-size: 100vh;
  min-block-size: 668px;
}
.decorated-zone::before {
  content: "";
  position: absolute;
  border-top: 1px solid var(--nofocus-color-decoration);
  border-right: 1px solid var(--nofocus-color-decoration);
  inline-size: 25px;
  block-size: 25px;
  inset-inline-end: 10px;
  inset-block-start: 10px;
}
.decorated-zone::after {
  content: "";
  position: absolute;
  border-bottom: 1px solid var(--nofocus-color-decoration);
  border-left: 1px solid var(--nofocus-color-decoration);
  inline-size: 25px;
  block-size: 25px;
  inset-inline-start: 10px;
  inset-block-end: 10px;
}
.accented-link {
  display: inline-flex;
  text-shadow: 2px 2px 0 var(--nofocus-color-accent);
}
.accented-link:hover {
  border-bottom: 1px solid var(--nofocus-color-text);
}
.accented-link:focus {
  outline: none;
  box-shadow: none;
  border: 1px solid var(--nofocus-color-text);
}
.header {
  padding: 10px;
  display: grid;
  grid-template-rows: auto max-content auto;
  align-items: center;
  margin-block-end: 40px;
}
.header__theme-menu {
  margin-block-start: 10px;
  justify-self: end;
}
.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 13px;
}
.header__theme-menu-button {
  border: none;
  padding: 0 13px 0 13px;
  outline: 1px solid transparent;
  color: var(--nofocus-color-button);
  text-transform: lowercase;
  background-color: transparent;
  cursor: pointer;
}
.header__theme-menu-button:hover {
  outline: 1px solid var(--nofocus-color-buttonhover);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--nofocus-color-button);
  outline: none;
}

.header__theme-menu-button_active {
  outline: 1px solid var(--nofocus-color-button);
}
.title-text {
  justify-self: center;
  color: var(--nofocus-color-hero);
  font-size: var(--nofocus-heading-font-size-mobile);
  line-height: 82.5%;
  font-weight: bold;
}
.header__title-text {
  align-self: self-start;
  transform: translateY(20px);
  text-shadow: 4px 4px 0 var(--nofocus-color-hero-shadow);
}
.header__description-text {
  transform: translateY(20px);
  justify-self: end;
  max-inline-size: 364px;
}
main {
  padding: 0 10px;
}
.main__article {
  margin-block-end: 49px;
  line-height: 130%;
}
.main__article-heading {
  color: var(--nofocus-color-text-heading);
  margin: 0 0 20px;
  font-weight: 700;
  font-size: 18px;
  line-height: 130%;
}
.main__article-subheading {
  margin-block-end: 10px;
}
.main__article-advices-heading {
  margin-block-end: 20px;
}
h4.main__article-subheading {
  font-weight: initial;
}
p {
  margin-block-end: 20px;
  line-height: 130%;
}
.main__article-heading-pics {
  margin-block-end: 10px;
}
.images__section-container {
  margin-bottom: 40px;
}
.image {
  object-fit: cover;
  object-position: top;
  inline-size: 100%;
}
.images__image-container {
  display: flex;
}
.images__list {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 10px;
}
.footer {
  display: grid;
  grid-template-rows: 1fr;
  align-items: center;
}
.footer__title-text {
  transform: translateY(10px);
  text-shadow: 2px 2px 0 var(--nofocus-color-hero-shadow);
}
@media (width >= 768px) {
  main {
    padding: 0 20px;
  }
  .rec-symbol {
    margin: 11px 21px 0 0;
  }
  .title-text {
    font-size: var(--nofocus-heading-font-size-desktop);
    transform: none;
    margin: 0 0 0 -20px;
  }
  .header__title-text {
    transform: translateY(20px);
    justify-self: start;
  }
  .decorated-zone {
    min-block-size: 1024px;
  }
  .decorated-zone::before {
    inset-inline-end: 20px;
    inset-block-start: 20px;
  }
  .decorated-zone::after {
    inset-inline-start: 20px;
    inset-block-end: 20px;
  }
  .header {
    padding: 20px;
    margin-block-end: 60px;
  }
  .main__article {
    margin-block-end: 60px;
  }
  .main__article-subject {
    display: grid;
    grid-template-columns: 236px 1fr;
    column-gap: 20px;
  }
  .subject-text-container {
    grid-column: 2;
  }
  .main__article-heading {
    max-inline-size: 236px;
  }
  .main__article-advices-heading {
    max-inline-size: inherit;
  }
  .main__article-heading-pics {
    max-inline-size: inherit;
    margin-block-end: 20px;
  }
  .main__article-cause {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr max-content;
  }
  .main__article-advice {
    display: grid;
    grid-template-columns: 236px 1fr;
    grid-template-rows: repeat(5, auto);
    column-gap: 20px;
  }
  .advice-text-container {
    grid-column: 2;
  }
  .images__list {
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(3, auto);
    margin-block-end: 60px;
  }
  .image__sunset {
    grid-column: 1 / 3;
  }
  .image__ice-cream {
    grid-column: 3;
    grid-row: 1 / 3;
  }
  .image__tape {
    grid-row: 2 / 4;
  }
  .image__street {
    grid-column: 2 / 4;
  }
  .footer__title-text {
    margin: 0;
    align-self: center;
    justify-self: center;
  }
}
@media (width >= 1024px) {
  .decorated-zone {
    min-block-size: 768px;
  }
  .header__theme-menu {
    justify-self: center;
    align-self: self-start;
    margin: 0;
  }
  .header__theme-menu-list {
    flex-direction: row;
    gap: 11px;
  }
  .header__description-text {
    margin: 0;
    padding: 0;
    transform: translateY(10px);
    max-inline-size: 491px;
  }
  .main__article-heading {
    max-inline-size: 315px;
  }
  .main__article-subject {
    grid-template-columns: 314px 1fr;
  }
  .main__article-cause {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
  }
  .main__article-cause-grid-container {
    grid-column: 1 / 4;
    display: grid;
    column-gap: 20px;
    grid-template-columns: repeat(3, 1fr);
  }
  .main__article-advice {
    grid-template-columns: 314px 1fr;
  }
  .main__article-heading-pics {
    max-inline-size: inherit;
  }
  .footer__title-text {
    margin: 0;
  }
}
